.hero-section {
    background-image: url(../images/slider-image.jpg);
    background-repeat: no-repeat;
}
.hero-section h1 {
    font-size: 90px;
}

.section-h2 {
    font-size: 46px;

}

.border-bottom-custom {
    border-bottom: 2px solid #000 !important;
    border-radius: 0 !important;
}

.strategy-image {
    max-height: 752px;
    overflow: hidden;
}
.subscribe-textfield {
    height: 50px;
}
.subscribe-textfield::placeholder {
    color: #fff !important;
    opacity: 1;
}
.card-dot {
    vertical-align: text-bottom;
}
.space-between {
    justify-content: space-between;
}
.price-badge {
    width: 75px;
    height: 75px;
    padding: 32px 0 !important;
    right: 30px;
    bottom: -35px;
}
