.main-content {
    width: 400px;
    background-color: aquamarine;
    overflow: scroll;
    max-height: 100px;
    opacity: 1;
}

.content {
    width: 600px;
}

.box {
    margin-top: 200px;
    width: 250px;
    height: 150px;
    background-color: orange;
    border-radius: 10px;
    box-shadow: 5px 10px 15px black;

}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: aquamarine;
}

h2 {
    text-shadow: 0 0 5px black;
}